apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: minio
spec:
  clusterIP: None  # Headless service for StatefulSet
  ports:
    - port: 9000
      name: minio-api
  selector:
    app: minio
---
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: minio
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      name: api
    - port: 9001
      targetPort: 9001
      name: console
  selector:
    app: minio
