apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - application.yaml
  - argocd/repositories.yaml
  
  # Application services
  - argocd/applications/jovies.yaml
  - argocd/applications/jovies-dev.yaml
  - argocd/applications/portfolio.yaml
  - argocd/applications/portfolio-dev.yaml
  - argocd/applications/todo.yaml
  - argocd/applications/todo-dev.yaml
  - argocd/applications/jaejadle.yaml
  - argocd/applications/jaejadle-dev.yaml
  - argocd/applications/joossam.yaml
  - argocd/applications/joossam-dev.yaml
  
  # Infrastructure (Helm-based)
  - argocd/applications/mysql.yaml
  - argocd/applications/mysql-dev.yaml
  - argocd/applications/minio.yaml
  - argocd/applications/sealed-secrets.yaml
  - argocd/applications/prometheus.yaml
  - argocd/applications/alertmanager.yaml
  - argocd/applications/grafana.yaml
  - argocd/applications/kube-state-metrics.yaml
  - argocd/applications/node-exporter.yaml
  - argocd/applications/mysql-exporter.yaml
  
  # Other resources
  - cert-manager  # cert-manager ClusterIssuer 설정
  - ingress/ingress.yaml
