apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - application.yaml
  - argocd/repositories.yaml
  
  # Application services
  - argocd/applications/jovies.yaml
  - argocd/applications/jovies-dev.yaml
  - argocd/applications/portfolio.yaml
  - argocd/applications/portfolio-dev.yaml
  - argocd/applications/todo.yaml
  - argocd/applications/todo-dev.yaml
  - argocd/applications/jaejadle.yaml
  - argocd/applications/jaejadle-dev.yaml
  - argocd/applications/joossam.yaml
  - argocd/applications/joossam-dev.yaml
  
  # Infrastructure (Helm-based)
  - argocd/applications/cert-manager.yaml
  - argocd/applications/cert-manager-issuers.yaml
  - argocd/applications/ingress-nginx.yaml
  - argocd/applications/mariadb.yaml
  - argocd/applications/mariadb-dev.yaml
  - argocd/applications/minio.yaml
  - argocd/applications/sealed-secrets.yaml
  - argocd/applications/prometheus.yaml
  - argocd/applications/alertmanager.yaml
  - argocd/applications/grafana.yaml
  - argocd/applications/kube-state-metrics.yaml
  - argocd/applications/node-exporter.yaml
  - argocd/applications/mysql-exporter.yaml
  
  # Other resources (Ingress rules for all services)
  - ingress/ingress.yaml
  
  # Sealed Secrets
  - sealed-secrets/monitoring/grafana-admin-password.yaml
  - sealed-secrets/monitoring/mysql-exporter-password.yaml
  - sealed-secrets/mariadb/root/mariadb-root-password.yaml
  - sealed-secrets/mariadb/root/mariadb-password.yaml
  - sealed-secrets/mariadb/root/mariadb-root-password-dev.yaml
  - sealed-secrets/mariadb/root/mariadb-password-dev.yaml
  - sealed-secrets/mariadb/replica/mariadb-replication-password.yaml
  - sealed-secrets/minio/minio-root-password.yaml
  - sealed-secrets/proxysql/proxysql-admin-password.yaml
  - sealed-secrets/proxysql/proxysql-monitor-password.yaml
  - sealed-secrets/proxysql/proxysql-config.yaml
