apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - application.yaml
  - argocd/repositories.yaml
  
  # Application services
  - argocd/applications/jovies.yaml
  - argocd/applications/jovies-dev.yaml
  - argocd/applications/portfolio.yaml
  - argocd/applications/portfolio-dev.yaml
  - argocd/applications/todo.yaml
  - argocd/applications/todo-dev.yaml
  - argocd/applications/jaejadle.yaml
  - argocd/applications/jaejadle-dev.yaml
  - argocd/applications/joossam.yaml
  - argocd/applications/joossam-dev.yaml
  
  # Infrastructure (Helm-based)
  - argocd/applications/cert-manager.yaml
  - argocd/applications/cert-manager-issuers.yaml
  - argocd/applications/ingress-nginx.yaml
  
  # PostgreSQL
  - argocd/applications/postgresql.yaml
  - argocd/applications/postgresql-dev.yaml
  - argocd/applications/pgbouncer.yaml
  - argocd/applications/postgres-exporter.yaml
  - argocd/applications/postgres-exporter-read-0.yaml
  - argocd/applications/postgres-exporter-read-1.yaml
  
  - argocd/applications/minio.yaml
  - argocd/applications/umami.yaml
  - argocd/applications/sealed-secrets.yaml
  - argocd/applications/prometheus.yaml
  - argocd/applications/alertmanager.yaml
  - argocd/applications/grafana.yaml
  - argocd/applications/kube-state-metrics.yaml
  - argocd/applications/node-exporter.yaml
  - argocd/applications/kubernetes-dashboard.yaml
  
  # Other resources (Ingress rules for all services)
  - ingress/ingress.yaml
  
  # Sealed Secrets
  - sealed-secrets/monitoring/grafana-admin-password.yaml
  
  # PostgreSQL Secrets
  - sealed-secrets/postgresql/root/postgresql-password.yaml
  - sealed-secrets/postgresql/root/postgresql-password-dev.yaml
  
  - sealed-secrets/minio/minio-root-password.yaml
  - sealed-secrets/kubernetes-dashboard/admin-user.yaml
