apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - application.yaml
  - argocd/repositories.yaml
  - argocd/applications/jovies.yaml
  - argocd/applications/jovies-dev.yaml
  - argocd/applications/portfolio.yaml
  - argocd/applications/portfolio-dev.yaml
  - argocd/applications/todo.yaml
  - argocd/applications/todo-dev.yaml
  - argocd/applications/jaejadle.yaml
  - argocd/applications/jaejadle-dev.yaml
  - argocd/applications/joossam.yaml
  - argocd/applications/joossam-dev.yaml
  - argocd/applications/monitoring.yaml
  - argocd/applications/mysql.yaml
  - cert-manager  # cert-manager ClusterIssuer 설정
  - ingress/ingress.yaml

